<div class="row">
  <div class="col-sm-4 col-md-8 col-xs-12">
    <%= f.text_field :name, placeholder: "Enter ingredient name",
                                      class: "form-control", autofocus: true %>
  </div>

  <div class="col-sm-4 col-xs-12">
    <%= render partial: 'shared/error_messages',
                          locals: {object: @ingredient, errors_for: 'name' } %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-md-8 col-xs-12">
    <%= f.select :step, options_for_select(
        [
          ['Team','Team'],
          ['Ideation','Ideation'],
          ['Test','Test'],
          ['Plan','Plan'],
          ['Design','Design'],
          ['Develop','Develop'],
          ['Expose','Expose'],
          ['Grow','Grow'],
          ['Exit','Exit']
        ]
      ), {prompt: 'Select an ingredient step'}, {class: "form-control"} %>
  </div>

  <div class="col-sm-4 col-xs-12">
    <%= render partial: 'shared/error_messages',
                  locals: {object: @ingredient, errors_for: 'step' } %>
  </div>
</div>


<div class="row">
  <div class="col-sm-4 col-md-8 col-xs-12">
    <%= f.select :track, options_for_select(
        [
          ['Business', 'Business'],
          ['Culture', 'Culture'],
          ['Product', 'Product']
        ]
      ), {prompt: 'Select a track'}, {class: "form-control"} %>
  </div>

  <div class="col-sm-4 col-xs-12">
    <%= render partial: 'shared/error_messages',
                          locals: {object: @ingredient, errors_for: 'track' } %>
  </div>
</div>