<h1>Ingredient</h1>

<%= form_for @ingredient do |f| %>
    <div class="row">
      <div class="col-sm-2">
        <%= f.text_field :name, placeholder: "Enter ingredient name",
                                      class: "form-control", autofocus: true %>
      </div>
      <div class="col-sm-10">
        <%= f.submit "Save ingredient", class: "btn btn-default" %>
        <%= link_to "Cancel", ingredients_path %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= render partial: 'shared/error_messages',
                          locals: {ingredient: @ingredient, errors_for: 'name' } %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= f.select :step, options_for_select(['Team','Ideation','Test','Plan',
                                    'Design','Develop','Expose','Grow','Exit']),
                                    {}, { class: "form-control" } %>
      </div>
    </div>

    <%= render partial: 'shared/error_messages',
                      locals: {ingredient: @ingredient, errors_for: 'step' } %>

    <div class="row">
      <div class="col-sm-2">
        <%= f.select :track, options_for_select([
                            'Product','Business','Culture']),
                              {}, { class: "form-control" } %>
      </div>
    </div>

    <%= render partial: 'shared/error_messages',
                      locals: {ingredient: @ingredient, errors_for: 'track' } %>
<% end %>