<h1 class="page_name">Ingredient</h1>

<%= form_for @ingredient do |f| %>
    <%= render partial: "form_fields", locals: {f: f} %>

    <!-- Buttons -->
    <div class="row">
      <div class="col-xs-12 hidden-xs">
        <%= f.submit "Save ingredient", class: "btn btn-primary" %>
        <%= link_to "Cancel", ingredients_path, class: "btn btn-default" %>
        <%= link_to "Delete", '#', data: {toggle: "modal", target: "#delIngredient"}, class: "btn btn-danger" %>
      </div>

      <div class="col-xs-12 visible-xs-block">
        <%= f.submit "Save ingredient", class: "btn btn-primary btn-sm" %>
        <%= link_to "Cancel", ingredients_path, class: "btn btn-default btn-sm" %>
        <%= link_to "Delete", '#', data: {toggle: "modal", target: "#delIngredient"}, class: "btn btn-danger btn-sm" %>
      </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="delIngredient">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete <%= @ingredient.name %></h4>
          </div>

          <div class="modal-body">
            <p>Deleting this ingredient will remove it from the system forever.
            Do you feel certain you want to do this?</p>
          </div>

          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= link_to "Delete", ingredient_path(@ingredient), method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
<% end %>