<h1>Ingredients</h1>

<p>These ingredients will define your workflow.</p>

<%= form_for @ingredient, html: { class: "form-inline"} do |f| %>
  <div class="container-fluid">
    <div class="row">
      <div class="form-group">
        <%= f.text_field :name, placeholder: "Enter ingredient name", class: "form-control", autofocus: true %>
      </div>
      <%= f.submit "Create ingredient", class: "btn btn-default" %>
      <%= link_to "Cancel", ingredients_path %>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.text_field :step, placeholder: "Select ingredient stage", class: "form-control" %>
      </div>
    </div>
  </div>
<% end %>